bucket         = "<REPLACE-WITH-TFSTATE-BUCKET>"
key            = "server-monitor/staging/terraform.tfstate"
region         = "ap-northeast-1"
dynamodb_table = "<REPLACE-WITH-LOCK-TABLE>"
encrypt        = true
